h1 {
    color: floralwhite;
    font-weight: bolder;
    font-style: italic;
    text-shadow: #FC0 1px 0 10px;
    text-align: center;
    padding-top: 2vh;
}
html {
    background-color: #5e5c64;
}
h2 {
    text-align: right;
    padding-right: 35%;
    font-size: 40px;
}
#numButtons {
    padding-left: 33%;
    display: flex;
    align-items: center;
    align-content: center;
    width: 33vw;
    height: 60vh;
    flex-direction: column;
}
.numButtons {
    font-size: 40px;
    width: 10vw;
    height: 15vh;
}
#zero {
    width: 15vw;
}
#decimalPoint {
    width: 15vw;
}
#operators {
    padding-left: 19vw;
    height: 20vh;
}
.operatorButtons {
    width: 10vw;
    height: 20vh;
    font-size: 40px;
}